* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Calibri, sans-serif;
    font-size: 11pt;
    line-height: 1.4;
}

.resume-header {
    margin-bottom: 0.1in;
}

.resume-name {
    font-size: 16pt;
    font-weight: bold;
    margin-bottom: 0.05in;
}

.contact-info-secondary {
    font-size: 10pt;
}

.resume-content {
    display: flex;
    flex-direction: column;
    gap: 0.2;
}

.section-title {
    font-size: 14pt;
    font-weight: bold;
    margin-bottom: 0.05in;
    border-bottom: 1px solid #000;
    padding-bottom: 0.05in;
}

.section-content {
    margin-top: 0.05in;
}

.experience-entry {
    margin-bottom: 0.06in;
}

.experience-header {
    display: flex;
    justify-content: space-between;
}

.experience-subheader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.02in;
}

.experience-title {
    font-size: 12pt;
    font-weight: bold;
}

.experience-company {
    font-size: 12pt;
    font-weight: bold;
    margin-left: 0.15in;
}

.experience-location {
    font-size: 12pt;
    font-style: italic;
}

.experience-bullets {
    margin-left: 0.25in;
}

.experience-bullets li {
    margin-bottom: 0.02in;
}

.education-entry {
    margin-bottom: 0.05in;
}

.education-degree {
    font-size: 12pt;
    font-weight: bold;
}

.education-university {
    font-size: 12pt;
}

.education-school {
    font-size: 11pt;
}

@media print {
    body {
        margin: 0;
        padding: 0;
    }
    
    .resume-container {
        padding: 0.5in;
    }
}