{% extends "html/base.html" %}


{% block contact %}
    <div class="contact-info">
        {{ location }}  |  (206) 593-7734  |  vhidrogo@uci.edu
    </div>
    <div class="contact-info-secondary">
        linkedin.com/in/vhidrogo  |  github.com/vhidrogo
    </div>
{% endblock %}

{% block skills_title %} Technical Skills {% endblock %}

{% block education_institution %}
    <div class="education-university">
        University of California, Irvine
    </div>
    <div class="education-school">
        Donald Bren School of Information and Computer Sciences
    </div>
{% endblock %}