{% extends "html/base.html" %}

{% block experience %}
<div class="experience-entry">
    <div class="experience-header">
        <span class="experience-title">Software Engineer</span>
        <span class="experience-company">Nav.it</span>
        <span class="experience-location">Remote</span>
    </div>
    <div class="experience-dates">May 2023 - May 2024</div>
    <ul class="experience-bullets">
        {{ experience_bullets_1 }}
    </ul>
</div>

<div class="experience-entry">
    <div class="experience-header">
        <span class="experience-title">Software Development Engineer</span>
        <span class="experience-company">Amazon.com</span>
        <span class="experience-location">Seattle, WA</span>
    </div>
    <div class="experience-dates">January 2022 - March 2023</div>
    <ul class="experience-bullets">
        {{ experience_bullets_2 }}
    </ul>
</div>

<div class="experience-entry">
    <div class="experience-header">
        <span class="experience-title">Business Intelligence Engineer II</span>
        <span class="experience-company">Amazon.com</span>
        <span class="experience-location">Seattle, WA</span>
    </div>
    <div class="experience-dates">August 2020 - January 2022</div>
    <ul class="experience-bullets">
        {{ experience_bullets_3 }}
    </ul>
</div>

<div class="experience-entry">
    <div class="experience-header">
        <span class="experience-title">Business Analyst / Python Developer</span>
        <span class="experience-company">Avenu Insights & Analytics</span>
        <span class="experience-location">Fresno, CA</span>
    </div>
    <div class="experience-dates">July 2016 - May 2019</div>
    <ul class="experience-bullets">
        {{ experience_bullets_4 }}
    </ul>
</div>
{% endblock %}